a href="#{about_path}" About
a href="#{menu_path}" Menu
a href="#{events_path}" Wedding & Catering Events

h2 Products
= render file: "products/index"

h2 Events
= render file: "events/index"

h2 FAQ

h2 Contact
= render file: "inquiries/_form"
