<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <p>This is just a confirmation email to let you know Square Bean has received your inquiry.</p>
    <p>We'll get back to you shortly!</p>
  </body>
</html>
